<template>
  <v-card>
    <v-card-text class="text-sm-left">
      <v-layout>
        <v-flex>
          <v-layout column>
            <v-flex>
              <p><strong>Ким вносилась зміна</strong></p>
              <p>{{log.userId||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Коли</strong></p>
              <p>{{date||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Підстава для зміни</strong></p>
              <p>{{log.reason||'Інформація відсутня'}}</p>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
  import moment from 'moment';

  export default {
    name: 'LogBlock',
    props: {
      log: {
        type: Object
      }
    },
    computed: {
      date() {
        return moment(this.log.createAt)
          .locale('uk')
          .format('DD MMMM YYYY HH:MM:SS');
      }
    }
  };
</script>

<style scoped>
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
