<template>
  <v-card>
    <v-toolbar
      v-if="isLogged"
      color="amber"
      dark
    >
      <router-link :to="{name:'edit-pcco',params:{pccoId:profile.id}}">
        <v-btn append>
          Оновити
        </v-btn>
      </router-link>
      <router-link :to="{name:'details-pcco',params:{pccoId:profile.id}}">
        <v-btn>
          Детальніше
        </v-btn>
      </router-link>
    </v-toolbar>
    <v-card-text class="text-sm-left">
      <v-layout>
        <v-flex>
          <v-layout column>
            <v-flex>
              <p><strong>Прізвище на час скоєння правопорушення</strong></p>
              <p>{{profile.lastName||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Ім'я на час скоєння правопорушення:</strong></p>
              <p>{{profile.firstName||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>По батькові на час скоєння правопорушення::</strong></p>
              <p>{{profile.surname||'Інформація відсутня'}}</p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout column>
            <v-flex>
              <p><strong>Місце роботи на час вчинення корупційного правопорушення:</strong></p>
              <p>{{profile.workPlace||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Посада на час вчинення корупційного правопорушення:</strong></p>
              <p>{{profile.workPosition||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Склад корупційного правопорушення:</strong></p>
              <p>{{profile.offenceDescription||'Інформація відсутня'}}</p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout column>
            <v-flex>
              <p><strong>Cтаття, відповідно до якої особу притягнуто до відповідальності за вчинення корупційного або
                пов’язаного з корупцією правопорушення:</strong></p>
              <p>{{pccoCriminalCodeArticle||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Дата набрання законної сили судовим рішенням про притягнення особи до відповідальності за
                корупційне правопорушення:</strong></p>
              <p>{{decisionApplyingDate||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Номер судової справи:</strong></p>
              <p>{{profile.litigationNumber||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Дата судового рішення:</strong></p>
              <p>{{decisionDate||'Інформація відсутня'}}</p>
            </v-flex>
            <v-flex>
              <p><strong>Найменування суду, який ухвалив (постановив) судове рішення про притягнення особи до
                відповідальності за корупційне правопорушення:</strong></p>
              <p>{{profile.judicatureName||'Інформація відсутня'}}</p>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
  import moment from 'moment';
  import { mapGetters, mapState } from 'vuex';

  export default {
    name: 'ShortInfoBlock',
    props: {
      profile: {
        type: Object
      }
    },
    computed: {
      ...mapGetters('auth', {
        isLogged: 'isLogged'
      }),
      ...mapState({
        criminalArticles: state => state.criminalArticles.articles.map(v => v.article),
        criminalArticlesIds: state => state.criminalArticles.articles.map(v => v.id),
      }),
      decisionApplyingDate() {
        return moment(this.profile.judicatureDecisionApplyingDate)
          .locale('uk')
          .format('DD MMMM YYYY');
      },
      pccoCriminalCodeArticle() {
        return this.criminalArticles[this.criminalArticlesIds.indexOf(this.profile.criminalCodeArticle)];
      },
      decisionDate() {
        return moment(this.profile.judicatureDecisionDate)
          .locale('uk')
          .format('DD MMMM YYYY');
      }
    }
  };
</script>

<style scoped>
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
