<template>
  <div>
    <v-layout align-center justify-center>
      <v-flex xs12>
        <v-card class="elevation-12">
          <v-toolbar dark>
            <v-spacer/>
            <v-toolbar-title>Введіть параметри пошуку</v-toolbar-title>
            <v-spacer/>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-container>
                <v-layout>
                  <v-flex xs12 lg4>
                    <v-text-field label="Ім'я" outline v-model="firstName"></v-text-field>
                  </v-flex>
                  <v-flex xs12 lg4>
                    <v-text-field label="Прізвище" outline v-model="lastName"></v-text-field>
                  </v-flex>
                  <v-flex xs12 lg4>
                    <v-text-field label="По-батькові" outline v-model="surname"></v-text-field>
                  </v-flex>
                  <v-flex xs12 lg4>
                    <v-text-field label="Номер наказу" outline v-model="litigationNumber">
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 lg12>
                    <v-select
                      :items="criminalArticles"
                      clearable
                      label="Номер статті по якій винесено судове рішення"
                      outline
                      v-model="criminalCodeArticle"></v-select>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green" @click="handleSearchButtonClick">Шукати</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <br/>
    <div v-if="initiated">
      <v-pagination
        v-model="page"
        :length="totalPages"
      ></v-pagination>
    </div>
    <br/>
    <v-layout align-space-between justify-center column fill-width>
      <v-flex v-for="pcco in personalPccos" :key="pcco.id">
        <pcco-short-info-block :profile="pcco"/>
        <br/>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import PccoShortInfoBlock from './PccoShortInfoBlock';

  export default {
    name: 'SearchBlock',
    components: {
      PccoShortInfoBlock
    },
    data() {
      return {
        litigationNumber: null,
        firstName: null,
        lastName: null,
        surname: null,
        criminalCodeArticle: null,
        page: 1,
        initiated: false
      };
    },
    methods: {
      ...mapActions({
        loadCriminalArticles: 'criminalArticles/loadAll',
        loadPersonalPccos: 'personalPccos/loadMany',
        clearPersonalPccos: 'personalPccos/clearMany',
      }),
      collectQueryValues() {
        const q = {};
        if (this.firstName && this.firstName.length > 2) {
          q.firstName = this.firstName;
        }
        if (this.lastName && this.lastName.length > 2) {
          q.lastName = this.lastName;
        }
        if (this.surname && this.surname.length > 2) {
          q.surname = this.surname;
        }
        if (this.litigationNumber && this.litigationNumber.length > 2) {
          q.litigationNumber = this.litigationNumber;
        }
        if (this.criminalCodeArticle) {
          q.criminalCodeArticle = this.criminalArticlesIds[this.criminalArticles.indexOf(this.criminalCodeArticle)];
        }
        return q;
      },
      async handleSearchButtonClick() {
        const q = this.collectQueryValues();
        if (Object.keys(q).length === 0) {
          return;
        }
        this.initiated = true;
        await this.loadPersonalPccos({
          ...q,
          skip: 2 * (this.page - 1),
          limit: 2
        });
        console.log(this.personalPccos);
      }
    },
    async mounted() {
      await this.loadCriminalArticles();
    },
    async beforeDestroy() {
      await this.clearPersonalPccos();
    },
    computed: {
      ...mapState({
        criminalArticles: state => state.criminalArticles.articles.map(v => v.article),
        criminalArticlesIds: state => state.criminalArticles.articles.map(v => v.id),
        personalPccos: state => state.personalPccos.personalPccos,
        totalPages: state => state.personalPccos.totalPages
      })
    },
    watch: {
      async page() {
        await this.handleSearchButtonClick();
      }
    }
  };
</script>

<style scoped>

</style>
