<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Login form</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form v-model="valid" ref="form">
                <v-text-field name="login" label="Email" type="email" outline required v-model="email"
                              :rules="emailRules">
                </v-text-field>
                <v-text-field name="password" label="Password" id="password" outline v-model="password"
                              :rules="passwordRules"
                              type="password" required>
                </v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="!valid"
                color="success"
                @click="handlerLoginBtnClick"
              >
                Login
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'LoginPage',
    data() {
      return {
        valid: true,
        password: '123Axs2@lxslc23',
        passwordRules: [
          v => !!v || 'Password is required',
        ],
        email: 'user2059@example.ua',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
      };
    },
    methods: {
      async handlerLoginBtnClick() {
        if (this.$refs.form.validate()) {
          if (await this.login({
            email: this.email,
            password: this.password
          })
          ) {
            this.$router.push({ name: 'home' });
          }
        }
      },
      ...mapActions('auth', {
        login: 'login'
      })
    }
  };
</script>

<style scoped>

</style>
