<template>
  <div>
    <v-content>
      <v-container fill-height v-if="!!profile" grid-list-xs>
        <v-layout wrap>
          <v-flex xs12>
            <v-layout wrap column fill-height text-xs-left>
              <v-card-text class="text-sm-left">
                <v-layout>
                  <v-switch v-model="profile.isActive" label="Запис дійсний" readonly></v-switch>
                  <router-link :to="{name:'edit-pcco',params:{pccoId:profile.id}}">
                    <v-btn color="primary">
                      Оновити
                    </v-btn>
                  </router-link>
                </v-layout>
                <v-layout wrap d-inline-flex>
                  <v-flex xs12 md4>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Прізвище на час скоєння правопорушення</strong></p>
                        <p>{{profile.lastName||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Ім'я на час скоєння правопорушення:</strong></p>
                        <p>{{profile.firstName||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>По батькові на час скоєння правопорушення:</strong></p>
                        <p>{{profile.surname||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Місце народження:</strong></p>
                        <p>{{profile.placeOfBirth||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата народження:</strong></p>
                        <p>{{this.toNationalDate(profile.dob)||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Громадянство:</strong></p>
                        <p>{{profile.residence||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Серія та номер паспорту:</strong></p>
                        <p>{{profile.passportSeries||'??'}} {{profile.passportCode||'Iнформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Ким видано паспорт:</strong></p>
                        <p>{{profile.passportIssuingAuthority||'Iнформація відсутня'}}</p>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Місце роботи на час вчинення корупційного правопорушення:</strong></p>
                        <p>{{profile.workPlace||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Посада на час вчинення корупційного правопорушення:</strong></p>
                        <p>{{profile.workPosition||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Склад корупційного правопорушення:</strong></p>
                        <p>{{profile.offenceDescription||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Тип корупційного правопорушення:</strong></p>
                        <p>{{profile.criminalActionType||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Вид дисциплінарного покарання:</strong></p>
                        <p>{{profile.disciplinaryPunishmentType||'Інформація відсутня'}}</p>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 md4>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Cтаття, відповідно до якої особу притягнуто до відповідальності за вчинення
                          корупційного
                          або
                          пов’язаного з корупцією правопорушення:</strong></p>
                        <p>{{this.pccoCriminalCodeArticle||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата набрання законної сили судовим рішенням про притягнення особи до
                          відповідальності за
                          корупційне правопорушення:</strong></p>
                        <p>{{decisionApplyingDate||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Номер судової справи:</strong></p>
                        <p>{{profile.litigationNumber||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Номер судової справи:</strong></p>
                        <p>{{profile.judicatureDecisionNumber||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата судового рішення:</strong></p>
                        <p>{{decisionDate||'Інформація відсутня'}}</p>
                      </v-flex>
                      <v-flex>
                        <p><strong>Найменування суду, який ухвалив (постановив) судове рішення про притягнення особи до
                          відповідальності за корупційне правопорушення:</strong></p>
                        <p>{{profile.judicatureName||'Інформація відсутня'}}</p>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-layout>
          </v-flex>
          <v-flex xs12>
            <v-data-table
              :headers="headers"
              :items="logs"
              class="elevation-1"
            >
              <template v-slot:items="props">
                <td>{{ props.item.userId }}</td>
                <td>{{ toNationalDatetime(props.item.createdAt) }}</td>
                <td>{{ props.item.updationReason }}</td>
                <td>{{ nomalizeLogType(props.item.type) }}</td>
                <td>
                  <vue-json-pretty
                    :data="props.item.oldValues||{}"
                    showLength
                    showLine
                  />
                </td>
                <td>
                  <vue-json-pretty
                    showLine
                    showLength
                    closed
                    :data="props.item.newValues"
                  />
                </td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import moment from 'moment';
  import VueJsonPretty from 'vue-json-pretty';

  export default {
    name: 'PccoDetails',
    data() {
      return {
        headers: [
          {
            text: 'Ким вносилась зміна',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          {
            text: 'Коли',
            sortable: true,
            value: 'createAt'
          },
          {
            text: 'Підстава',
            value: 'reason'
          },
          {
            text: 'Тип',
            sortable: true,
            value: 'type'
          },
          {
            text: 'Старі значення',
          },
          {
            text: 'Нові значання',
          },
        ],
      };
    },
    components: {
      VueJsonPretty
    },
    methods: {
      ...mapActions({
        loadCriminalArticles: 'criminalArticles/loadAll',
        getPersonalPccos: 'personalPccos/loadOne',
        clearPersonalPcco: 'personalPccos/clearOne',
        loadLogs: 'logs/loadAllByPcco'
      }),
      nomalizeLogType(type) {
        switch (type) {
          case 'CREATE_PCCO':
            return 'додавання запису';
          case 'UPDATE_PCCO':
            return 'оновлення запису';
          default:
            return `невідома ${type}`;
        }
      },
      toNationalDate(date) {
        return moment(date)
          .locale('uk')
          .format('DD MMMM YYYY');
      },
      toNationalDatetime(date) {
        return moment(date)
          .locale('uk')
          .format('DD MMMM YYYY HH:MM:SS');
      }
    },
    beforeRouteLeave(to, from, next) {
      this.clearPersonalPcco();
      next();
    },
    beforeRouteUpdate(to, from, next) {
      Promise.all([this.getPersonalPccos(to.params.pccoId), this.loadLogs(to.params.pccoId)])
        .then(([result]) => {
          if (!result) {
            this.$router.push({ name: 'home' });
          }
          next();
        })
        .catch(() => {
          this.$router.push({ name: 'home' });
          next();
        });
    },
    async mounted() {
      const [result] = await Promise.all([
        this.getPersonalPccos(this.$route.params.pccoId),
        this.loadLogs(this.$route.params.pccoId),
        this.loadCriminalArticles(),
      ]);
      if (!result) {
        this.$router.push({ name: 'home' });
      }
    },
    async beforeDestroy() {
      await this.clearPersonalPcco();
    },
    computed: {
      ...mapState({
        criminalArticles: state => state.criminalArticles.articles.map(v => v.article),
        criminalArticlesIds: state => state.criminalArticles.articles.map(v => v.id),
        profile: state => state.personalPccos.personalPcco,
        logs: state => state.logs.logs
      }),
      decisionApplyingDate() {
        return this.toNationalDate(this.profile.judicatureDecisionApplyingDate);
      },
      decisionDate() {
        return this.toNationalDate(this.profile.judicatureDecisionDate);
      },
      pccoCriminalCodeArticle() {
        return this.criminalArticles[this.criminalArticlesIds.indexOf(this.profile.criminalCodeArticle)];
      }
    }
  };
</script>

<style scoped>

</style>
