<template>
  <div>
    <v-content>
      <v-container fill-height grid-list-xs v-if="isLogged">
        <v-layout wrap>
          <v-flex xs12>
            <v-layout wrap column fill-height text-xs-left>
              <v-card-text class="text-sm-left">
                <v-layout wrap>
                  <v-flex xs12>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Прізвище на час скоєння правопорушення</strong></p>
                        <v-text-field name="lastName" label="Прізвище" id="lastName" outline v-model="model.lastName"
                                      type="text" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Ім'я на час скоєння правопорушення:</strong></p>
                        <v-text-field name="firstName" label="Ім'я" id="firstName" outline v-model="model.firstName"
                                      type="text" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>По батькові на час скоєння правопорушення:</strong></p>
                        <v-text-field name="surname" label="По батькові" id="surname" outline v-model="model.surname"
                                      type="text" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Місце народження:</strong></p>
                        <v-text-field name="placeOfBirth" label="Місце народження" id="placeOfBirth" outline
                                      v-model="model.placeOfBirth"
                                      type="text" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата народження:</strong></p>
                        <v-date-picker full-width landscape v-model="model.dob" color="green lighten-1"
                                       header-color="primary"></v-date-picker>
                      </v-flex>
                      <v-flex>
                        <p><strong>Громадянство:</strong></p>
                        <v-text-field name="residence" label="Громадянство" id="residence" outline
                                      v-model="model.residence"
                                      type="text" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Серія та номер паспорту:</strong></p>
                        <v-layout row>
                          <v-flex xs2>
                            <v-text-field name="passportSeries" id="passportSeries" outline
                                          v-model="model.passportSeries"
                                          type="text" required>
                            </v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field name="passportCode" id="passportCode" outline v-model="model.passportCode"
                                          type="passportCode" required>
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex>
                        <p><strong>Ким видано паспорт:</strong></p>
                        <v-text-field name="passportIssuingAuthority" id="passportIssuingAuthority" label="Ким видано"
                                      outline v-model="model.passportIssuingAuthority"
                                      type="passportIssuingAuthority" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong> Код ЭДРПЕО:</strong></p>
                        <v-text-field name="personalCode" id="personalCode" label="ЭДРПЕО"
                                      outline v-model="model.personalCode"
                                      type="personalCode" required>
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Місце роботи на час вчинення корупційного правопорушення:</strong></p>
                        <v-textarea name="workPlace" id="workPlace" label="Місце роботи" outline
                                    v-model="model.workPlace"
                                    required>
                        </v-textarea>
                      </v-flex>
                      <v-flex>
                        <p><strong>Посада на час вчинення корупційного правопорушення:</strong></p>
                        <v-textarea name="workPosition" id="workPosition" label="Посада" outline
                                    v-model="model.workPosition"
                                    required>
                        </v-textarea>
                      </v-flex>
                      <v-flex>
                        <p><strong>Опис корупційного правопорушення:</strong></p>
                        <v-textarea name="offenceDescription" id="offenceDescription" label="Опис злочину" outline
                                    v-model="model.offenceDescription"
                                    required>
                        </v-textarea>
                      </v-flex>
                      <v-flex>
                        <p><strong>Склад корупційного правопорушення:</strong></p>
                        <v-textarea name="offenceMethod" id="offenceMethod" label="Склад злочину" outline
                                    v-model="model.offenceMethod"
                                    required>
                        </v-textarea>
                      </v-flex>
                      <v-flex>
                        <p><strong>Тип корупційного правопорушення:</strong></p>
                        <v-text-field name="criminalActionType" id="criminalActionType" label="Тип" outline
                                      v-model="model.criminalActionType" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Вид дисциплінарного покарання:</strong></p>
                        <v-textarea name="disciplinaryPunishmentType" id="disciplinaryPunishmentType" label="Покарання"
                                    outline
                                    v-model="model.disciplinaryPunishmentType" required>
                        </v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12>
                    <v-layout column>
                      <v-flex>
                        <p><strong>Cтаття, відповідно до якої особу притягнуто до відповідальності за вчинення
                          корупційного
                          або
                          пов’язаного з корупцією правопорушення:</strong></p>
                        <v-select
                          :items="criminalArticles"
                          clearable
                          label="Номер статті по якій винесено судове рішення"
                          outline
                          v-model="model.criminalCodeArticle"></v-select>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата набрання законної сили судовим рішенням про притягнення особи до
                          відповідальності за
                          корупційне правопорушення:</strong></p>
                        <v-date-picker full-width landscape v-model="model.judicatureDecisionApplyingDate"
                                       color="green lighten-1"
                                       header-color="primary"></v-date-picker>
                      </v-flex>
                      <v-flex>
                        <p><strong>Номер судової справи:</strong></p>
                        <v-text-field name="litigationNumber" id="litigationNumber" label="Номер" outline
                                      v-model="model.litigationNumber" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Номер судового рішення:</strong></p>
                        <v-text-field name="judicatureDecisionNumber" id="judicatureDecisionNumber" label="Номер"
                                      outline
                                      v-model="model.judicatureDecisionNumber" required>
                        </v-text-field>
                      </v-flex>
                      <v-flex>
                        <p><strong>Дата судового рішення:</strong></p>
                        <v-date-picker full-width landscape v-model="model.judicatureDecisionDate"
                                       color="green lighten-1"
                                       header-color="primary"></v-date-picker>
                      </v-flex>
                      <v-flex>
                        <p><strong>Найменування суду, який ухвалив (постановив) судове рішення про притягнення особи до
                          відповідальності за корупційне правопорушення:</strong></p>
                        <v-text-field name="judicatureName" id="judicatureName" label="Найменування суду"
                                      outline
                                      v-model="model.judicatureName" required>
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="save">
                  Зберегти
                </v-btn>
              </v-card-actions>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { pickBy, identity } from 'lodash';

  export default {
    name: 'PccoCreate',
    data() {
      return {
        model: {
          judicatureDecisionDate: null,
          judicatureDecisionNumber: null,
          judicatureName: null,
          litigationNumber: null,
          judicaturejudicatureDecisionApplyingDate: null,
          criminalCodeArticle: null,
          offenceDescription: null,
          firstName: null,
          lastName: null,
          surname: null,
          personalCode: null,
          workPosition: null,
          workPlace: null,
          passportSeries: null,
          passportCode: null,
          dob: null,
          placeOfBirth: null,
          residence: null,
          impositionDisciplinaryActionDetails: null,
          offenceMethod: null,
          disciplinaryActionCancellationDate: null,
          disciplinaryActionCancellationReason: null,
          convictionRepaymentDate: null,
          convictionRepaymentReason: null,
          disciplinaryPunishmentType: null,
          isActive: null,
        }
      };
    },
    methods: {
      ...mapActions({
        loadCriminalArticles: 'criminalArticles/loadAll',
        getPersonalPccos: 'personalPccos/loadOne',
        clearPersonalPcco: 'personalPccos/clearOne',
        savePcco: 'personalPccos/save'
      }),
      normalizeBody(body) {
        return pickBy({
          ...body,
          criminalCodeArticle: this.criminalArticlesIds[this.criminalArticles.indexOf(this.model.criminalCodeArticle)]
        }, identity);
      },
      async save() {
        if (await this.savePcco({
          body: this.normalizeBody(this.model)
        })) {
          this.$router.push({ name: 'home', });
        }
      },
    },
    beforeRouteLeave(to, from, next) {
      this.clearPersonalPcco();
      next();
    },
    async mounted() {
      await this.loadCriminalArticles();
    },
    computed: {
      ...mapState({
        criminalArticles: state => state.criminalArticles.articles.map(v => v.article),
        criminalArticlesIds: state => state.criminalArticles.articles.map(v => v.id),
        profile: state => state.personalPccos.personalPcco,
      }),
      ...mapGetters('auth', {
        isLogged: 'isLogged'
      })
    }
  };
</script>

<style scoped>

</style>
