<template>
  <v-snackbar
    v-model="shown"
    multi-line
    :timeout="timeout"
    top
  >
    {{text}}
    <v-btn
      color="pink"
      flat
      @click="close"
    >Close</v-btn>
  </v-snackbar>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'Alert',
    data() {
      return {
        timeout: 5000
      };
    },
    computed: {
      ...mapState({
        text: state => state.ui.alertText,
        shown: state => state.ui.isAlertShown
      })
    },
    methods: {
      ...mapActions({
        close: 'ui/closeAlert'
      })
    }
  };
</script>

<style scoped>

</style>
