<template>
  <v-footer
    dark
    height="auto"
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-actions class="grey darken-3 justify-center">
        &copy; Національне агентство з питань запобігання корупції
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    name: 'Footer'
  };
</script>

<style scoped>
</style>
