<template>
  <v-toolbar color="blue-grey darken-3" fixed app dark>
    <v-toolbar-title>
      <router-link :to="{name:'home'}">
        ЄДИНИЙ ДЕРЖАВНИЙ РЕЄСТР осіб, які вчинили корупційні або пов’язані з корупцією правопорушення
      </router-link>
    </v-toolbar-title>
    <v-spacer/>
    <template v-if="!isLogged">
      <router-link :to="{name:'login'}">
        <v-btn append>
          авторизація
        </v-btn>
      </router-link>
    </template>
    <template v-if="isLogged">
      <router-link :to="{name:'create-pcco'}">
        <v-btn>
          додати відомості
        </v-btn>
      </router-link>
      <loader/>
      <v-btn @click="logout">
        вийти
      </v-btn>
      <loader/>
    </template>
  </v-toolbar>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import Loader from './Loader';

  export default {
    name: 'Header',
    components: {
      Loader
    },
    methods: {
      ...mapActions('auth', {
        logout: 'logout'
      })
    },
    computed: {
      ...mapGetters('auth', {
        isLogged: 'isLogged'
      })
    }
  };
</script>

<style scoped>
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
