<template>
  <div v-if="shown">
    <v-progress-linear :indeterminate="true"></v-progress-linear>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'Alert',
    data() {
      return {
        timeout: 5000
      };
    },
    computed: {
      ...mapState({
        shown: state => state.ui.isLoading,
      })
    }
  };
</script>

<style scoped>

</style>
